DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
REDIS_URL=redis://localhost:6379/0
SECRET_KEY_BASE=change-me
APP_PORT=3000
SESSION_COOKIE_SECURE=false

MAIL_FROM=no-reply@example.com
SMTP_ADDRESS=smtp.example.com
SMTP_PORT=587
SMTP_DOMAIN=example.com
SMTP_USERNAME=change-me
SMTP_PASSWORD=change-me
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
